* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  position: relative;
  z-index: 1; }

body {
  background: #dce3dd;
  font-family: Verdana, sans-serif;
  scroll-behavior: smooth; }

nav {
  background-color: #527656;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  nav .logo {
    margin-left: 15px; }
  nav .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
  nav li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
    margin-right: 20px;
    letter-spacing: 2px; }
  nav a:hover {
    border-bottom: 1px solid white; }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer; }
  nav .nav-menu .closeMenu, nav .fa-facebook, nav .fa-instagram, nav i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #fff; }
  nav .fa-facebook:hover {
    color: #4267B2; }
  nav .fa-instagram:hover {
    color: #cd486b; }
  nav .link {
    text-decoration: none; }

@media (max-width: 768px) {
  nav .nav-menu {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #527656;
    -webkit-transition: top 1s ease;
    transition: top 1s ease; }
  nav .nav-menu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px; }
  nav .openMenu {
    display: block; }
  nav a:hover {
    border-bottom: 1px solid white;
    font-size: 1.6rem; }
  nav .fa-facebook {
    display: block;
    padding: 12px;
    margin-left: -40px;
    margin-top: 50px;
    font-size: 3rem; }
  nav .fa-instagram {
    display: block;
    padding: 12px;
    margin-left: 50px;
    margin-top: -70px;
    font-size: 3rem; } }
#welcome {
  margin-left: 70px;
  margin-top: 50px; }
  #welcome h1 {
    font-size: 30px; }
  #welcome p {
    margin-top: 5px;
    line-height: 22px; }

#about {
  margin-left: 70px;
  margin-top: 50px; }
  #about h2 {
    font-size: 25px; }
  #about li {
    margin-top: 5px;
    line-height: 25px;
    margin-left: 20px; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 350px;
  background-color: #527656;
  margin-top: 100px; }
  footer aside {
    width: 400px;
    margin-left: 9%;
    margin-right: 20px;
    margin-top: -30px; }
  footer h2 {
    color: #fff;
    margin-top: 100px;
    font-family: Verdana, sans-serif;
    text-align: center; }
  footer p {
    font-family: Verdana, sans-serif;
    color: #fff;
    text-align: center; }
  footer .follow {
    margin-top: 30px; }
  footer .media {
    width: 400px;
    margin-left: 140px;
    margin-top: 10px; }
  footer .media:hover {
    cursor: pointer; }
  footer .media i {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 18px; }
    footer .media i .link1 {
      text-decoration: none; }
    footer .media i .fa-facebook:hover {
      color: #4267B2; }
    footer .media i .fa-instagram:hover {
      color: #cd486b; }

@media (max-width: 1610) {
  footer aside {
    width: 400px;
    margin-right: 5%;
    margin-top: -30px; } }
@media (max-width: 768px) {
  footer aside {
    width: 380px;
    margin-left: 10px;
    margin-top: -30px; }
  footer .open {
    margin-left: -60px; }
  footer .info {
    margin-left: -100px; }
  footer .contact {
    margin-top: 250px;
    margin-left: -550px; }
  footer .media {
    margin-left: 130px; } }

/*# sourceMappingURL=style.css.map */