*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
	position: relative;
	z-index: 1;
}

@import 'vars';

body{
  background: $secondary-color;
  font-family: $font-stack;
  scroll-behavior: smooth;
}
//Header//
nav{
  background-color: $primary-color;
  color: $font-color;
  display: flex;
  justify-content: space-between;

  .logo{
    margin-left: 15px;
  }

  .nav-menu{
  	display: flex;
    list-style-type: none;
  }

  li{
    a {
      display: inline-block;
    	padding: 15px;
      text-decoration: none;
      text-transform: uppercase;
      color: $font-color;
    	font-size: 22px;
      margin-top: 10px;
      margin-right: 30px;
      letter-spacing: 2px;
    }
  }

  a:hover{
    border-bottom: 1px solid white;
  }

  .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }

  .nav-menu .closeMenu, .fa-facebook, .fa-instagram, i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: $font-color;
  }

  .fa-facebook:hover{
    color: #4267B2;
  }

  .fa-instagram:hover{
    color: #cd486b;
  }

  .link{
    text-decoration: none;
  }
}
//Header slut//
//Responsiv header start//
@media(max-width: 768px){
  nav{
    .nav-menu{
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $primary-color;
      transition: top 1s ease;
    }

    .nav-menu .closeMenu{
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .openMenu{
      display: block;
    }

    a:hover{
      border-bottom: 1px solid white;
      font-size: 1.6rem;
    }

    .fa-facebook{
      display: block;
      padding: 12px;
      margin-left: -40px;
      margin-top: 50px;
      font-size: 3rem;
    }

    .fa-instagram{
      display: block;
      padding: 12px;
      margin-left: 50px;
      margin-top: -70px;
      font-size: 3rem;
    }
  }
}
//Responsiv header slut//

//Velkommen start//
#welcome{
  margin-left: 70px;
  margin-top: 50px;

  h1{
    font-size: 30px;
  }

  p{
    margin-top: 5px;
    line-height: 22px;
  }
}

//Velkommen slut//

//Om start//
#about{
  margin-left: 70px;
  margin-top: 50px;

  h2{
    font-size: 25px;
  }

  li{
    margin-top: 5px;
    line-height: 25px;
    margin-left: 20px;
  }
}
//Om slut//

//Footer start//
footer{
  display: flex;
  min-height: 350px;
  background-color:$primary-color;
  margin-top: 100px;

  aside{
  	width: 400px;
  	margin-left: 50px;
  	margin-right: 20px;
    margin-top: -30px;
  }

  h2{
    color: $font-color;
    margin-top: 100px;
    font-family: $font-stack;
    text-align: center;
  }

  p{
    font-family: $font-stack;
    color: $font-color;
    text-align: center;
  }

  .follow{
    margin-top: 30px;
  }

  .media{
    width: 400px;
  	margin-left: 140px;
    margin-top: 10px;
  }

  .media:hover{
    cursor: pointer;
  }

  .media i{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 18px;
  }

    .link1{
      text-decoration: none;
    }

    .fa-facebook:hover{
      color: #4267B2;
    }

    .fa-instagram:hover{
      color: #cd486b;
  }
}

/*Responsiv footer start*/
@media(max-width:1600px){
  footer aside{
    width: 400px;
    margin-left: 2.5%;
    margin-right: 20px;
    margin-top: -30px;
  }
}

@media(max-width: 768px){
  footer aside{
      margin-right: 30%;
      margin-top: -30px;
    }

  footer .contact{
      margin-top: 400px;
      margin-left: -780px;
    }

  footer .media{
      margin-left: 330px;
      margin-bottom: 50px;
  }
}
/*Responsiv footer slut*/
